body {
  background: url('https://images.unsplash.com/photo-1504712598893-24159a89200e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  border: none;
  color: white;
  font-size: 20px;
  background: #313133;
  padding: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  margin-bottom: 20px;
}

button {
  padding: 20px 50px 20px 50px;
  background-color: #024d3d;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-redious: 20px;
}

p {
  max-width: 100%;
  background: beige;
  margin-top: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  width: 600px;
  font-size: 20px;
  padding: 20px;
}


