* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background: url('https://images.unsplash.com/photo-1504712598893-24159a89200e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  text-align: center;
}

input {
  display: block;
  width: 100%;
  border: none;
  color: white;
  font-size: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgb(119, 113, 113);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
}

.btn {
  display: flex;
  justify-content: center;
}

button {
  padding: 20px 50px 20px 50px;
  background-color:  #ffb92d;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
}

p {
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px rgb(119, 113, 113);
  margin-top: 20px;
  width: 600px;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
}


